@import "tailwindcss";

@theme {
    --color-grey-light: #E2E8F0;
    --color-grey-normal: #94A3B8;
    --color-grey-dark: #64748B;
    --color-blue-dark: #020f20;
}

@layer base {
    body {
        @apply text-grey-light;
    }
}

*::selection {
    @apply bg-teal-400 text-blue-dark;
}

html {
    scroll-behavior: smooth;
}

